@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-controller="HomeCtrl">

    <div class="col-sm-12 col-md-6" ng-if="pendingRequests.length>0">
        <div class="card table-card">
            <div class="card-header">
                <h5>Pending Requests</h5>

            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr>
                                    <th>Applicant</th>
                                    <th>Book</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Book</th>
                                    <th>Status</th>
                                </tr>
                            }

                        </thead>
                        <tbody>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr ng-repeat="request in pendingRequests">
                                    <td>{{request.Applicant.FirstName}} {{request.Applicant.LastName}}</td>
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        <label ng-if="request.Status == 1" class="label label-success">Pending</label>
                                        <label ng-if="request.Status != 1" class="label label-danger">Other</label>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-sm" title="Approve"><i class="fa fa-check"></i></a>
                                        <a href="#" class="btn btn-primary btn-sm" title="Detail"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr ng-repeat="request in pendingRequests">
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        <label ng-if="request.Status == 1" class="label label-success">Pending</label>
                                        <label ng-if="request.Status != 1" class="label label-danger">Other</label>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/Scripts/js/ng-controllers/home-ctrl.js"></script>
}